@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lato:ital,wght@0,700;1,300&family=Playfair+Display:wght@500&family=Space+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,700;1,300&family=Playfair+Display:wght@500&family=Space+Mono:ital,wght@0,700;1,400&display=swap');
* , *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root{
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsla(220, 14%, 75% , 0.4);
    --font-fam: 'Kumbh Sans', sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px  solid var(--Grayish-blue);
    padding: 1rem;
    position:  relative;
    padding-bottom: 2rem;
    
}
#logo{
    height: 25px;
    width: 164px;
}
li , a{
    display: inline-block;
   list-style-type: none;
   text-decoration: none;
   color: var(--dark-grayish-blue);
   padding-right: 8px;
   padding-bottom: 20px;
   font-family: var(--font-fam);
}

nav{
position: absolute;
left: 212px;
top: 23px;
font-size: 16px;
}

#logo1{
    height: 46px;
    width: 46px;
    margin-left: 10px;
    position: absolute;
    right: 3px;
    top:-10px;
}
#cart-icon{
    position: relative;
}
 button{
     position: absolute;
     top: 5px;
     right: 73px;
   background: transparent;
   border-style: hidden;
   cursor: pointer;
}
button::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: hsl(26, 100%, 55%) ;
    transition: width  .5s ease;
}
button:hover::after{
    width: 100%;   
}

a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    
    background-color: hsl(26, 100%, 55%) ;
    
    transition: width .5s ease;
}
a:hover::after{
    width: 90%;   
}
a:hover{
    
    color: black;
    font-weight:500;
    transition: 100ms ease;
}
#cart-no{
    visibility: hidden;
    position: absolute;
    right: 69px;
    top: -2px;
    height: 15px;
    width: 15px;
    background-color: hsla(26, 100%, 55% , 1);
    text-align: center;
    border-radius: 40%;
    color: white;
    margin: 1px;
  z-index: 1;
}

.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 400px;
    width: 100vw;
}
.contright{
    margin-top: 80px;
    margin-right: 20px;
    
    height: 400px;
    padding: 25px;
}
.heading{
    font-family: var(--font-fam);
    letter-spacing: 3px;
    font-weight: bold;
   color: hsl(26, 100%, 55%);
   margin-bottom: 10px;
  
}
.sub-head{
    font-family:'Kumbh Sans', sans-serif; 
    font-size: 3em;
}
.sub-content{
    font-size: 16px;
    font-family: var(--font-fam);
    color: var(--dark-grayish-blue);
    margin: 10px 0px 15px 0px;
}
.price{
    display: flex;
     position: absolute;
    height: 50px;
    width: 180px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    right: 420px;
}
.mainprice{
    font-family: var(--font-fam);
    font-size: 30px;
    font-weight: bold;
    padding-right: 0;

}
.discount{
    font-family: var(--font-fam);
    color: hsla(26, 100%, 55% , 1);
    background-color:  hsl(25, 100%, 94%);
  
    height: 28px;
    width: 47px;
    border-radius: 30%;
    text-align: center;
    

}
.mainprice2{
    position: absolute;
    top: 422px;
    right:528px;
    font-weight: 500;
    font-size: 17px;
    font-family: var(--font-fam);
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

.btm-wrapper{
    margin-top: 15px;
    border: 1px solid black;
    position: absolute;
    top: 450px;
    display: flex;
    height: 38px;
    width: 125px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border-style: none;
    background-color: hsla(220, 14%, 75% , 0.2);
}
.count{
    font-family: var(--font-fam);
    font-weight: bold;
    margin: 0px 15px 0px 15px;
    user-select: none;
}
.act{
    cursor:pointer;
    user-select: none;
}
.addtocart{
    border: 1px solid red;
    position: absolute;
    top: 466px ;
    right: 249px;
    display: flex;
    height: 38px;
    width: 170px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-style:none ;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
}
.add-to{
    font-family: var(--font-fam);
    font-size: 11px;
}
#ct1{
    position: absolute;
    top: 7px;
    right: 108px;
}
#CartboX{
    visibility: hidden;
    box-shadow: -8px 18px 43px -7px rgba(0,0,0,0.69);
    -webkit-box-shadow: -8px 18px 43px -7px rgba(0,0,0,0.69);
    -moz-box-shadow: -8px 18px 43px -7px rgba(0,0,0,0.69);
    height: 146px;
    position: absolute;
     width: 291px;
    right: 94px;
    top:48px;
    background-color: white;
    border-radius:16px ;
    padding: 10px;

}
#Image{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    
}

#Heading{
    display: flex;
    justify-content: space-between;
    
    font-size: 20px;
    font-family: var(--font-fam);
    color: var(--dark-grayish-blue);
    height: 35px;
    border-bottom: 1px solid var(--Grayish-blue);
}
#CartItem{
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;

}
#Delete{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
#ItemNm
{
   font-family: var(--font-fam);    
   font-size: 13px;
   position: absolute;
   top: 57px;
   right: 45px;
   color: var(--dark-grayish-blue);
   border-bottom: 1px solid var(--Grayish-blue);

}
#Price{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction:row;
 height: 30px;
 width: 143px;
 position: absolute;
 top: 78px;
 right :74px;
 
}
#PrIce{
    font-family: var(--font-fam);
    color: var(--dark-grayish-blue);
    font-weight: 400;
}
#sign{
    color: var(--dark-grayish-blue);
    position: absolute;
    right: 70px;
    top: 4px;
    font-family: var(--font-fam);
}
#NoItem{
    font-family: var(--font-fam);
    position: absolute;
    right: 48px;
    top: 4px;
    color: var(--dark-grayish-blue);   
}
#MainPrice{
    font-family:var(--font-fam);
    font-weight: bold;
    color: rgba(0, 0 ,0, 0.7);
    position: absolute;
    right: -27px;
    top: 2px;
    font-size: 18px;
}
#Btn{
    cursor: pointer;
    visibility: hidden;
    border: 1px solid black;
    text-align: center;
    width: 50%;
    margin: auto ;
    height: 25px;
    font-family: var(--font-fam);
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-style: none;
    border-radius: 18px;
    
}
#Close{
    height: 10px;
    cursor: pointer;
}
.contleft{
    
    margin-top: 80px;
    margin-right: 20px;
    height: 400px;
    width: 1474px ;
    padding: 25px;
}


#Imgchoice{
    cursor: pointer;
    width: 400px;
    position: absolute;
    left: 165px;
    top: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid hsl(26, 100%, 55%);
}
#Imgchoice img{
    height: 82px;
    border-radius: 16px;
    box-shadow: -5px 4px 19px -5px rgba(0,0,0,0.7);
-webkit-box-shadow: -5px 4px 19px -5px rgba(0,0,0,0.7);
-moz-box-shadow: -5px 4px 19px -5px rgba(0,0,0,0.7);
}

#Imgchoice img:hover{
    border: 1px solid hsl(26, 100%, 55%);
    
    opacity: .8;
    transition: 105ms ease;
}
#Thumb{
    height: 256px;
    width: 256px;
    position: absolute;
    left: 238px;
    border-radius: 18px;
    
    
}
